{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Pc Digital </title>
    <!--VIENDO SI SE SUBE-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway" rel="stylesheet">
   <!--static fonts-->
   <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
   <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">


   <!--Archivos estaticos-->
   <link rel='stylesheet' type='text/css' href="{% static 'estilos.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-min.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid-min.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.min.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.js' %}" />

   <!---->
   <link rel='stylesheet' type='text/css' href="{% static 'css/animate.css' %}" />
   <link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.mun.css' %}" />

   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   <link rel="stylesheet" href="{% static 'images' %}">
  
   
   <!-- Theme Style -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'administrador' %}">PC Digital Factory Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'ListaVendedores' %}">Lista de Vendedores</a>
              </li>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="hairstyle.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="hairstyle.html">Computación</a>
                  <a class="dropdown-item" href="hairstyle.html">Periféricos</a>
                  <a class="dropdown-item" href="hairstyle.html">Smartphones</a>
                  <a class="dropdown-item" href="hairstyle.html">Linea Blanca</a>
                  <a class="dropdown-item" href="hairstyle.html">Tarjetas Graficas</a>
                </div>
 
              </li>-->
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'LoginUsuario' %}">Cerrar Sesion</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      
    </header>
    <!-- END header -->

    
    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url('static/images/store.jpg');">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Admin</h1>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

   

   
    <footer class="site-footer">
      <div>
          <!--INICIO FORMULARIO EN BOOTSTRAP-->

          <form name="form1" onchange="javascript:return Rut(document.form1.rut.value)">
              <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header text-center">
                               <h4 class="modal-title w-100 font-weight-bold">Ingresa tu Venta</h4>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </div>
                           <div class="modal-body mx-3">
                              <form id="formularios" name="formularioUsuario" action="#">
                                  <label>Codigo Producto</label> 
                                  <input id="fname" name="sku" type="text" placeholder="Codigo" class="form-control" min="2" maxlength="6" required>
                                  <br>

                                  <label>Cantidad</label> 
                                  <input id="fname" name="cant" type="number"  placeholder="Ingrese la cantidad" class="form-control"  min="1" max="100" required>
                                  <br>

                                  <label>Total</label> 
                                  <input id="fname" name="total" type="text"  placeholder="Total de la venta" class="form-control" required>
                                  <br>

                                  <label>Comentario</label> 
                                  <input id="fname" name="coment" type="text"  placeholder="...." class="form-control"  maxlength="100">

                                  <br>
                                  <div class="form-group">
                                      <div class="col-md-12 text-center">
                                              <input type="submit"  value="Registrar"/>
                                      </div>
                                  </div>
                           </div>
                           
                       </div>
                   </div>
               </div>
  
               <div class="form-group">
                <div class="col-md-12 text-center">
                    <!--<button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>-->
                    <a href="{% url 'MantenedorOfertas' %}" class="btn btn-primary btn-lg">Ingresar Oferta</a>
               </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-center">
                  <!--<button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>-->
                  <a href="{% url 'MantenedorVendedor' %}" class="btn btn-primary btn-lg">Ingresar Vendedor</a>
             </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 text-center">
                <!--<button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>-->
                <a href="{% url 'MantenedorTienda' %}" class="btn btn-primary btn-lg">Ingresar Tienda</a>
           </div>
        </div>
           </form>
   </div>
   <!--FIN FORMULARIO-->
  
       
      </div>
    </footer>
    

    <!-- END footer -->
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>