{% load staticfiles %}
{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <title>PcDigital</title>
    <!--VIENDO SI SE SUBE-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway" rel="stylesheet">

    <!--Scripts-->
    <script src="js/validarut.js"></script>
    <script src="js/valida.js"></script>
    <script src="js/validar.js"></script>

    <!--static fonts-->
    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">


    <!--Archivos estaticos-->
    <link rel='stylesheet' type='text/css' href="{% static 'estilos.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid-min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.js' %}" />

    <!---->
    <link rel='stylesheet' type='text/css' href="{% static 'css/animate.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.mun.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'images' %}">
   
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    
    <header role="banner">

      
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="blog.html">PC Digital Factory Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'ListaVendedores' %}">Lista de Vendedores</a>
              </li>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="hairstyle.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="hairstyle.html">Computación</a>
                  <a class="dropdown-item" href="hairstyle.html">Periféricos</a>
                  <a class="dropdown-item" href="hairstyle.html">Smartphones</a>
                  <a class="dropdown-item" href="hairstyle.html">Linea Blanca</a>
                  <a class="dropdown-item" href="hairstyle.html">Tarjetas Graficas</a>
                </div>
 
              </li>-->
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Cerrar Sesion</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      
    </header>
    <!-- END header -->

    
    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(static/images/store.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>OFERTAS DEL DIA</h1>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="slider-wrap site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url(static/images/img_2.jpg)">
              <div class="text">
                <span class="icon ion-ios-images"></span>
                <h2>Teclado Mecánico 30% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_1.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Mouse Gamer 23% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('static/images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Pendrive 512 Gb 15% de Descuento</h2>
                <p>Visualizar</p>

              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_4.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Mouse Rainbow 13% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_5.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Headphones cancelación ruido 27%</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('static/images/img_6.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Memoria RAM DDR4 12% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_2.jpg')">
              <div class="text">
                <span class="icon ion-ios-images"></span>
                <h2>Teclado Mecánico 30% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_1.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Mouse Gamer 23% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('static/images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Pendrive 512 Gb 15% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_4.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Mouse Rainbow 13% de Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('static/images/img_5.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Audifonos Gamer HX 20% Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
          <div class="col-md-4 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('static/images/img_6.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Ram Atomica 12% Descuento</h2>
                <p>Visualizar</p>
              </div>
            </a>
          </div>
        </div>

        
      </div>
    </section>
    <!-- END section -->

   
    <footer class="site-footer">
      <div>
          <!--INICIO FORMULARIO EN BOOTSTRAP-->

          <form name="form1" onchange="javascript:return Rut(document.form1.rut.value)">
              <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <div class="modal-content">
                           <div class="modal-header text-center">
                               <h4 class="modal-title w-100 font-weight-bold">Ingresa tu Venta</h4>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </div>
                           <div class="modal-body mx-3">
                              <form id="venta_form" method="POST"  action="#">
                                {% csrf_token %}
                                  <div class="span3 dolar">
                                      <div class="box">
                                        <span class="indicator-title">Dólar <small>$</small></span>
                                        <h1>667,46</h1>
                                        <a href="http://indicadoresdeldia.cl/valor-dolar-hoy.html" class="btn btn-primary btn-primary-plane">Valor del Dólar actual</a>			</div>
                                    </div>


                                    <label>Código Venta</label> 
                                    <input id="fname" name="idv" type="number"  placeholder="Ingrese la cantidad" class="form-control"  min="1" max="1000" required>
                                    <br>

                                  <label>Fecha</label> 
                                  <input id="fecha" name="fecha_0" type="date" placeholder="Fecha" class="data-toggle" min="2" maxlength="6" required>
                                  <br>

                                  <label>Hora</label> 
                                  <input id="fecha" name="fecha_1" type="text" placeholder="Fecha" class="data-toggle" min="2" maxlength="6" required>
                                  <br>

                                  <label>Cantidad</label> 
                                  <input id="cantidad" name="cantidad" type="number"  placeholder="Ingrese la cantidad" class="form-control"  min="1" max="100" required>
                                  <br>

                         

                                  <label>Sucursal</label> 
                                  <input id="sucursal" name="sucursal" type="text"  placeholder="Sucursal" class="form-control" required>
                                  <br>

                                  <select name="Vendedor" required id="id_Vendedor">
                                    <option value="" selected>---------</option>
                                  
                                    <option value="6">raqwertz</option>

                                   
                                
                                
                                  <br>
                                  <div class="form-group">
                                      <div class="col-md-12 text-center">
                                              <input type="submit" method="POST"  value="Registrar"/>
                                      </div>
                                  </div>
                           </div>
                           
                       </div>
                   </div>
               </div>
  
               <div class="text-center col-sm-12 col-md-2 col-lg-2">
                   <a href="" class="btn btn-primary " data-toggle="modal" data-target="#modalContactForm">INGRESA TU VENTA</a>
               </div>
           </form>
   </div>
   <!--FIN FORMULARIO-->
  
       
      </div>
    </footer>
    

    <!-- END footer -->
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>