{% load staticfiles %}
{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en">
  <head>
    <title>Iniciar Sesion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <script src="js/jquery.min.js"></script>


    

    <!--static fonts-->
    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">


    <!--Archivos estaticos-->
    <link rel='stylesheet' type='text/css' href="{% static 'estilos.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid-min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.min.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.js' %}" />


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'images' %}">
   
    
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="">PC Digital Factory Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(static/images/store.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <form name="iniciosesion" action="{% url 'login' %}" method="POST">
              {% csrf_token %}
                <label for="username">Nombre Usuario</label> <input id="fname" name="username" type="text" placeholder="Nombre de Usuario" maxlength="20" class="form-control"  required>
                <br>
                <label for="password">Contraseña</label> <input id="fname" name="password" type="password" placeholder="Contraseña" maxlength="16" class="form-control"  required>
                <br>
                <div class="form-group">
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>
                  <hr>
                  



                  <button class="btn btn-secondary btn-block mt-5" type="submit">Sign in!</button>
<a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
   <span class="fab fa-facebook"></span>
      Login with facebook
 </a>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- END section -->

    
    <!-- END section -->


    
    <!-- END section -->



    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>