
{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Pc Digital </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 

     <!--static fonts-->
     <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
     <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
 
 
     <!--Archivos estaticos-->
     <link rel='stylesheet' type='text/css' href="{% static 'estilos.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-min.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid-min.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.min.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.js' %}" />
 
     <!---->
     <link rel='stylesheet' type='text/css' href="{% static 'css/animate.css' %}" />
     <link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.mun.css' %}" />
 
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'images' %}">
    
     
     <!-- Theme Style -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'administrador' %}">PC DIGITAL FACTORY STORE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'blog' %}">Inicio</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Cerrar Sesion</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url('static/images/store.jpg');">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1 class="mb-4">Listado Vendedores</h1>
              
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    


    <section class="slider-wrap site-section">
      <section class="site-section pb-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 video-wrap mb-5">
                <img src="static/images/Ignacio.jpg" alt="Image placeholder" class="img-fluid">
              </div>
              <div class="col-md-6 pl-md-5">
                  <h3>Ignacio Soto</h3>
                  <p class="lead" style="color: black;">Vendedor</p>
                  <p>52 Ventas Registradas</p>
              </div>
            </div>
          </div>
        </section>
        <!-- END section -->
        <section class="slider-wrap site-section">
          <section class="site-section pb-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 video-wrap mb-5">
                    <img src="static/images/Lia.jpg" alt="Image placeholder" class="img-fluid">
                  </div>
                  <div class="col-md-6 pl-md-5">
                      <h3>Lia Gutierrez</h3>
                      <p class="lead" style="color: black;">Vendedora</p>
                      <p>61 Ventas Registradas</p>
                  </div>
                </div>
              </div>
            </section>
            <!-- END section -->
    
            <section class="slider-wrap site-section">
              <section class="site-section pb-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 video-wrap mb-5">
                        <img src="static/images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                      </div>
                      <div class="col-md-6 pl-md-5">
                          <h3>Miguel Ramirez</h3>
                          <p class="lead" style="color: black;">Vendedor</p>
                          <p>56 Ventas Registradas</p>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- END section -->
    
        

    
    
    <!-- END section -->

   

    <!-- END section -->
    

    
    <!-- END section -->

   
    
    

    
    <!-- END section -->


    
    <!-- END footer -->
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>