{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Mantenedor Vendedor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 

       <!--static fonts-->
       <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
       <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
       <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
   
   
       <!--Archivos estaticos-->
       <link rel='stylesheet' type='text/css' href="{% static 'estilos.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-min.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-grid-min.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-reboot.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.min.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'bootstrap-datepicker.js' %}" />
   
       <!---->
       <link rel='stylesheet' type='text/css' href="{% static 'css/animate.css' %}" />
       <link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.mun.css' %}" />
   
       <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
       <link rel="stylesheet" href="{% static 'images' %}">
      
       
       <!-- Theme Style -->
       <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'administrador' %}">PC Digital Factory Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administrador' %}">Volver</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url('static/images/store.jpg');">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
                <form name="formularioUsuario" action="{% url 'RegistrarVendedor' %}" method="POST">
                    {% csrf_token %}
                    <label for="nombre">Nombre</label> 
                    <input id="fname" name="nombre" type="text" placeholder="Nombre" class="form-control" min="2" maxlength="15" required>
                    <br>
                    
                    <label for="apellido">Apellido</label> 
                    <input id="fname" name="apellido" type="text"  placeholder="Apellido" class="form-control"  maxlength="15" required>
                    
                    <br>
                    <label for="username">Nombre de Usuario</label> 
                    <input id="fname" name="username" type="text"  placeholder="Nombre de Usuario" class="form-control"  maxlength="16" required>
                    
                    <br>
                    <label for="password">Contraseña</label> 
                    <input id="fname" name="password" type="password" placeholder="Contraseña" class="form-control" minlength="4" maxlength="30" required autofocus="Ingrese minimo 4 caracteres"> 
                    
                    <br>
                    <label for="valida_password">Repita Contraseña</label> 
                    <input id="fname" name="valida_password" type="password" placeholder="Contraseña" class="form-control" minlength="4" maxlength="30" required autofocus="Ingrese minimo 4 caracteres">
                    
                    <br>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                                <input type="submit"  value="Registrar"/>
                        </div>
                    </div>
                    <script>$(function () {
                        $("input[name=nom]").on("invalid", function () {
                            this.setCustomValidity("Este campo es obligatorio");
                        });
                    });</script>

                    <script>$(function () {
                        $("input[name=apa]").on("invalid", function () {
                            this.setCustomValidity("Este campo es obligatorio");
                        });
                    });</script>

                    <script>$(function () {
                        $("input[name=nomu]").on("invalid", function () {
                            this.setCustomValidity("Este campo es obligatorio");
                        });
                    });</script>
                </form>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    
    <!-- END section -->


    
    <!-- END section -->



    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    

    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>